framework:
    messenger:
        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'

        # Все сообщения идут в transport "async"
        routing:
            'App\Message\ProcessJob': async
