services:
  percona:
    image: ${PERCONA_IMAGE}
    container_name: screenshoter-percona
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --init-file /init.sql
    hostname: "percona-{{.Node.Hostname}}"
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - screenshoter
    volumes:
      - ./var/storage/percona:/var/lib/mysql:rw
      - ./config/storage/percona/conf.d:/etc/my.cnf.d:ro
      - ./config/storage/percona/init.sql:/init.sql:ro

  edge:
    image: ${NGINX_IMAGE}
    container_name: screenshoter-edge
    hostname: "nginx-{{.Node.Hostname}}"
    ports:
      - "80:80"
    networks:
      - screenshoter
    volumes:
      - ./config/edge/nginx.conf:/etc/nginx/nginx.conf
      - ./config/edge/conf.d:/etc/nginx/conf.d
      - ../webapp:/opt/webapp
      - ./var/log/edge/nginx:/var/log/nginx
      - ./var/diffs:/var/diffs
      - ./var/screenshots:/var/screenshots

  php-fpm:
    image: ${PHPFPM_IMAGE}
    container_name: screenshoter-php-fpm
    hostname: "php-fpm-{{.Node.Hostname}}-{{.Task.Slot}}"
    networks:
      - screenshoter
    volumes:
      - ./config/php-fpm/php-fpm.d/php-fpm.conf:/usr/local/etc/php-fpm.d/php-fpm.conf:ro
      - ./config/php-fpm/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./config/php-fpm/php.ini:/usr/local/etc/php/php.ini:ro
      - ./var/log/php-fpm:/var/log/php-fpm
      # backend
      - ../webapp:/opt/webapp
      - ./var/storage/php-fpm/var:/opt/webapp/var

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: screenshoter-rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # Web UI: http://localhost:15672 (логин: guest / пароль: guest)
    networks:
      - screenshoter
    volumes:
      - ./var/rabbitmq/data:/var/lib/rabbitmq:rw
      - ./var/rabbitmq/log:/var/log/rabbitmq:rw
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-guest}
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 10s
      timeout: 10s
      retries: 5

  worker:
    image: ${PHPFPM_IMAGE}
    container_name: screenshoter-worker
    hostname: "worker-{{.Node.Hostname}}-{{.Task.Slot}}"
    networks:
      - screenshoter
    volumes:
      - ./config/php-fpm/php-fpm.d/php-fpm.conf:/usr/local/etc/php-fpm.d/php-fpm.conf:ro
      - ./config/php-fpm/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro
      - ./config/php-fpm/php.ini:/usr/local/etc/php/php.ini:ro
      - ./var/log/php-fpm:/var/log/php-fpm
      - ../webapp:/opt/webapp
      - ./var/storage/php-fpm/var:/opt/webapp/var
    environment:
      MESSENGER_TRANSPORT_DSN: amqp://${RABBITMQ_USER:-guest}:${RABBITMQ_PASS:-guest}@rabbitmq:5672/%2f/messages
      DATABASE_URL: mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@percona:3306/${MYSQL_DATABASE}?serverVersion=8.0
      SCREENSHOT_SERVICE_URL: http://screenshoter:8080
      SCREENSHOT_API_KEY: secret123
    depends_on:
      rabbitmq:
        condition: service_healthy
    command: php /opt/webapp/bin/console messenger:consume async -vv

  screenshoter:
    image: ${PHPCLI_SCREENSHOTER_IMAGE}
    container_name: screenshoter-screenshoter
    ports:
      - "8080:8080"
    environment:
      - SCREENSHOT_API_KEY=secret123
      - PUPPETEER_SKIP_DOWNLOAD=false
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp:unconfined
    volumes:
      # Монтируем ТОЛЬКО исходники PHP, кроме vendor/
      - ../screenshoter/src:/app/src
      - ../screenshoter/public:/app/public
      # Папка для скриншотов
      - ./var/screenshots:/app/public/screenshots
    networks:
      - screenshoter

  comparator:
    image: ${PHPCLI_COMPARATOR_IMAGE}
    container_name: screenshoter-comparator
    ports:
      - "8081:8081"
    environment:
      - DIFF_SERVICE_API_KEY=secret456
    volumes:
      # Монтируем исходники PHP
      - ../comparator/public:/app/public
      # Папка для различий
      - ./var/diffs:/app/public/diffs
    networks:
      - screenshoter
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081" ]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  screenshoter:
    external: true